body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    background-color: #ffffff;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.div1{
    /* margin-left: 70px; */
}
.img10{
    display: none;
}
.a{
    text-decoration: none;
    margin: 0px 15px;
    color: black;
    font-weight: bold;
}
.btn1{
    width: 80px;
    height: 30px;
    border-radius: 80px;
    border-color: #91b3b0;
    color: #91b3b0;
    background-color: #ffffff;
    
}
.btn2{
    width: 80px;
    height: 30px;
    border-radius: 80px;
    background-color: #6d70a6;
    color: #ffffff;
}
.para1{
    width: 500px;
    color: #636670;
    margin-left: 100px;
}
.div2{
    display: flex;
    background-color: #7F56D90A;
    align-items: center;
    justify-content: center;
}
.head1{
    width: 400px;
    color: #6c769e;
    font-size: 300%;
    margin-left: 100px;
}
.wow{
    color: #0a0c2b;
}
.hello{
    color: #8abaa6;
}
.img2{
    height: 10px;
}
.img3{
    height: 10px;
}
.img4{
    margin-top: 30px;
}
.btn3{
    margin-left: 100px;
    height: 40px;
    width: 150px;
    color: #555b73;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: none;
    border-radius: 8px;
}
.btn4{
    height: 40px;
    width: 150px;
    margin-top: 5px;
    color: #555b73;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: none;
    border-radius: 8px;
}
.btn5{
    height: 40px;
    width: 150px;
    background-color: #6c769e;
    border-color: #6c769e;
    color: #ffffff;
    border-radius: 8px;
}
.main{
    width: 100%;
    height: 400px;
    background-color: #eee8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-container{
    position: relative;
    width: fit-content;
}
.card {
    width: 260px;
    height: 150px; 
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 50px; 
    overflow: hidden;
}
.circle-image {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    background-color: #eee8fa;
    position: absolute;
    top: -75px;
    left: 72px;
    z-index: 10;
}
.img5{
    height: 120px;
    width: 120px;
}
.card-content {
    margin-top: 30px;
    font-size: 14px;
    color: #333; 
}
.para2{
    width: 250px;
    font-weight: bold;
}
/* .parent-div{
    background-color: #ffffff;
    width: 900px;
    margin-left: 230px;
    margin-top: 20px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 20px solid black;
} */
.div3{
    position: relative;
    justify-items: center;

}
.img6{
    position: absolute;
    width:100%;
    z-index:-1;
    margin-top:160px;
}
.container1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
    width: 900px;
}
.num-box{
    display: flex;
}
.time{
    text-align: center;
}
.number1{
    font-size:60px;
    font-weight: bold;
    color: #D02467;
    margin-left:40px;
    font-family: Arial, Helvetica, sans-serif;
}
.number2{
    font-size:60px;
    font-weight: bold;
    color: #E94E37;
    margin-left:40px;
    font-family: Arial, Helvetica, sans-serif;
}
.number3{
    font-size:60px;
    font-weight: bold;
    color: #F9731D;
    margin-left:40px;
    font-family: Arial, Helvetica, sans-serif;
}
.number4{
    font-size:60px;
    font-weight: bold;
    color: #FABE28;;
    margin-left:40px;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    font-size: 0.9rem;
    color: #666;
    display: block;
    margin-left: 40px;
}
.para3{
    font-size:40px;
    width:420px;
    margin-bottom:25px;
    color: #333;
}
.hire-btn{
    background-color: #4E5DFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 18px;
}
.parent-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head2{
    margin-left:30px;
    font-size: 46px;
    margin-top:200px;
}
.para4{
    width:450px;
    margin-left: 30px;
    color:#585C67;
}
.div4{
    display: flex;
    justify-content: center;
}
.head3{
    font-size: 18px;
    margin-top:30px;
}
.para5{
    width:370px;
}
.para6{
    width: 400px;
}
.img7{
    margin-top: 200px ;
}
.div5{
    text-align: center;
    margin-top: 350px; 
}
.head4{
    font-size: 46px;
}
.div6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.signup-form{
    justify-content: center;
    justify-items: center;
}
.signup-container{
    text-align: center;
    background-color:#89B9A5;
    height:280px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:1000px;
    overflow: hidden;
    margin-top: 100px;
}
.head5{
    font-size:36px;
    color:white; 
    margin-top:80px;
    font-family: Arial, Helvetica, sans-serif;
}
.para7{
    font-size: 16px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    display: flex;
   justify-content: center;
   margin-top:30px;
}
.input{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
.btn6{
    background-color:#F0D29C;
    color:black;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 0 5px 5px 0;
}
.footer1{
    background-color:white;
    padding: 20px ;
    border-top: 1px solid #ddd;
    margin-top: 100px;
}
.img8{
    margin-left: 20px;
    margin-top:30px;
}
.footer-container {
    display: flex;
}
.para8{ 
    color: #555;
    margin-left:20px;
}
.img9{
    width:44px;
  }
.footer-links{
    display: flex;
   margin-left:150px;
}
.head6{
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    margin-left: 40px;
} 
.ul1{
    list-style: none;
    padding: 0px;
    margin-left: 40px;
}
.ul2{
    margin-left: 120px;
} 
.li1{
    margin-bottom:10px;
}
.head7{
    margin-left: 120px;
}
.a1{
    text-decoration: none;
    color: #555;
}
.div7{
    width: 100%;
    height: 56px;
    background-color: #2F2F2F;
    overflow: hidden;
}
.para9{
    color: white;
    text-align: center;
    margin-top:20px;
}
@media(max-width: 425px){
    .media-div{
        display: none;
    }
    .media-div1{
        display: none;
    }
    .img10{
        display: flex;
        margin-left: 130px;
        height: 40px;
        margin-top: 10px;
    }
    .div1{
        display: flex;
    }
    .nav{
        justify-content: space-between;
    }
    .img1{
        margin-left: 20px;
    }
    .div2{
        display: block;
    }
    .btn3{
        width: 110px;
        margin-top: 5px;
        margin-left: 18px;
    }
    .btn4{
        width: 110px;
    }
    .btn5{
        width: 110px;
        margin-top: 5px;
    }
    .media-div3{
        display: flex;
    }
    .head1{
        margin-left: 18px;
    }
    .para1{
        margin-left: 18px;
    }
    .img4{
        width: 410px;
        margin-left: 18px;
    }
    .media-div4{
        display: block;
    }
    .main{
        flex-wrap: wrap;
    }
    .card{
        width: 180px;
        height: 75px;
    }
    
    .img5{
        width: 71px;
        height: 71px;
    }
    .circle-image{
        left: 55px;
        top: -35px;
    }
    .para2{
        width: 130px;
        font-size: 11px;
        margin-left: 20px;
    }
    .number1{
        font-size: 15px;
        margin-left: 0px;
    }
    .number2{
        font-size: 15px;
        margin-left: 2px;

    }
    .number3{
        font-size: 15px;
        margin-left: 2px;
    }
    .number4{
        font-size: 15px;
        margin-left: 2px;
    }
    .text{
        font-size: 10px;
        margin-left: 0px;
    }
    .para3{
        font-size: 15px;
        width: 170px;
    }
    .hire-btn{
        width: 67px;
        height: 23px;
        font-size: 5px;
        margin-top: 0px;
    }
    .container1{
        width: 350px;
    }
    .img6{
        margin-top: 110px;
    }
    .parent-div{
        
        flex-direction: column-reverse;
    }
    .img7{
        width: 400px;
        margin-left: 20px;
        margin-top: 0px;
    }
    .head2{
        font-size: 35px;
    }
    .para4{
        width: 420px;
        font-size: 13px;
    }
    .head3{
        font-size: 15px;
    }
    .para5{
        width: 300px;
    }
    .para6{
        width: 320px;
    }
    .div6{
        display: block;
        flex-wrap: wrap;
    }
    .head4{
        font-size: 35px;
    }
    .media-div5{
        width: 180px;
        height: 175px;
    }
    .signup-container{
        width: 400px;
        height: 120px;
    }
    .head5{
        font-size: 15px;
        margin-top: 8px;
    }
    .para7{
        font-size: 10px;
    }
    .input{
        width: 90px;
        font-size: 10px;
    }
    .btn6{
        width: 90px;
        font-size: 10px;
    }

}